*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;

}
html{
	font-size: 62.5%;
}
body{
	font-family: 'Montserrat', sans-serif;
	font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5 {
	margin: 0;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
button{
	margin: 0;
	padding: 0;
	&::before,
	&::after{
		content: "";
		display: none;
	}
}

.btn{
	background-color: #7f7770;
	margin: 5.4rem auto 0 auto;
	padding: 2.8rem 8rem ;
	border-radius: 5rem;
	border: none;
	display: block;

	color: #ffffff;
	font-family: "Open Sans";
	font-size: 2.3rem;
	font-weight: 800;
	font-style: normal;
	letter-spacing: normal;
	line-height: 21.01px;
	text-align: left;
	text-transform: uppercase;

	&:hover{
		background: red;
	}

	
}
.container{
	max-width: 135rem;
	padding: 0 1.5rem;
	box-sizing: border-box;
	margin: 0 auto;

}
.hamburger{
	display: none;
}
.header{
	background: url("../img/intro/bg.png");
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
	box-shadow: 3px -4px 5px rgba(162, 156, 156, 0.75);
	&::before{
		content: "";
		background-image: url("../img/intro/Shape_before.svg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		display: block;
		width: 110%;
		height: 20%;
		margin: 0 auto;

		position: absolute;
		top: -4%;
		
		right: 0;
		left: -2%;
		
	}
	&::after{
		content: "";
		background-image: url("../img/intro/Shap_after.svg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		display: block;
		width: 110%;
		height: 20%;
		margin: 0 auto;

		position: absolute;
		bottom: -4%;
		
		right: 0;
		left: -2%;
		border: none;
		
	}
}
.nav{
	padding: 1rem 5rem ;
	display: flex;
	align-items: center;
	justify-content: space-between;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 4;
	background-color:#ffffff;
	&__menu{
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 6.3rem;
	}
	&__link{
		color: #54524f;
		font-family: "Open Sans";
		font-size: 1.7rem;
		font-weight: 700;
		font-style: normal;
		letter-spacing: normal;
		line-height: normal;
		text-align: left;
		text-transform: uppercase;
		&:hover{
			border-bottom: 3px solid rgb(5, 27, 221);
		}
	}
	&__input{
		padding: 1rem;
		border: 0.1rem #54524f solid;
		background-color: #7f7770;
		opacity: 0.47;
		border-radius: 2rem;
		& input{
			padding: .5rem;
			background-color: #7f7770;
			border-radius: 2rem;
			border: none;
			color: aliceblue;
			max-width: 10.5rem;


		}
		& button {
			background-color: #7f7770;
			cursor: pointer;
			border: none;
			& i{
				font-size: 1.7rem;
			}
		}
	}
}
.intro{
	padding: 38rem 0 21rem 0;
	&__content{
		max-width: 50%;
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		gap: 3rem;
		
	}
	&__title{
		text-shadow: 3px -4px 5px rgba(84, 82, 79, 0.22);
		color: #deb37e;
		font-family: "Open Sans";
		font-size: 9.2rem;
		font-weight: 800;
		font-style: normal;
		letter-spacing: normal;
		line-height: 1;
		text-align: left;
		text-transform: uppercase;
		
	}
	&__subtitle{
		color: #54524f;
		font-family: "Open Sans";
		font-size: 2.5rem;
		font-weight: 700;
		font-style: italic;
		letter-spacing: normal;
		line-height: normal;
		text-align: justifyCenter;
		text-transform: uppercase;
	}
	&__btn{
		background-color: #ffffff;
		opacity: 0.9;

		color: #776c64;
		font-family: "Open Sans";
		font-size: 25px;
		font-weight: 800;
		font-style: normal;
		letter-spacing: normal;
		line-height: normal;
		text-align: center;
		text-transform: uppercase;

		padding: 1.4rem 3.8rem;
		border: none;

		border-radius: 3rem;

		margin-top: 3rem;

		&:hover{
			background-color: #deb37e;
		}
	}
	&__text{
		color: #54524f;
		font-family: "Open Sans";
		font-size:2.1rem;
		font-style: italic;
		letter-spacing: normal;
		line-height: normal;
		text-align: left;
	}
}

.go{
	padding-bottom: 18.4rem;
	position: relative;
	&__decor{
		position: absolute;
		bottom: 0;
		left: 0;
		
		z-index: 0;

		
		& img{
			max-width: 60rem;
		}
	}
	&__title{
		color: #e2a355;
		font-family: "Open Sans";
		font-size: 6.3rem;
		font-weight: 800;
		font-style: normal;
		letter-spacing: normal;
		line-height: normal;
		text-align: center;
		text-transform: uppercase;
		margin: 0 auto;
		margin-bottom: 4.8rem;
	}
	&__subtitle{
		color: #7f7770;
		font-family: "Open Sans";
		font-size: 2.7rem;
		font-weight: 400;
		font-style: normal;
		letter-spacing: normal;
		line-height: normal;
		text-align: center;
		margin-bottom: 8rem;
	}
	&__content{
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
		gap: 7rem;
	}
	&__item{
		max-width: 33.9rem;
		width: 33.9rem;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		margin: 0 auto;
	}
	&__img{
		display: block;
		max-width: 100%;
		
		& img {
			width: 100%;
			max-width: 100%;
			height: auto;
		}
	}
	&__info{
		display: block;
		width: 100%;
		
		background-color: #7f7770;
		padding: 5.7rem 2rem 6.7rem 2rem;

	}
	&__main{
		color: #ffffff;
		font-family: "Open Sans";
		font-size: 2.9rem;
		font-weight: 700;
		font-style: normal;
		letter-spacing: normal;
		line-height: normal;
		text-align: left;
	}
	&__sub{
		color: #ffffff;
		font-family: "Open Sans";
		font-size: 23px;
		font-weight: 400;
		font-style: normal;
		letter-spacing: normal;
		line-height: normal;
		text-align: left;
	}


	
}

.discount{
	&__content{
		display: flex;
		align-items: center;
		flex-direction: column;

	}
	&__item{
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		
		
		
		&-black{
			background-color: #7f7770;
		}
		&-gold{
			background-color: #deb37e;
			flex-direction: row-reverse;
		}

	}
	&_img{
		flex: 1 1 0;
		display: block;
		
		& img {
			width: 100%;
			height: 100%;
		}
	}
	&__descr{
		flex: 1 1 0;
	}
	&__info{
		width: 100%;
		max-width: 57rem;
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		flex-direction: column;
		gap: 5rem;

		&-black{
			margin-left: 6rem;
		}
		&-gold{
			margin-left: 13.4rem;
			margin-right: 9.2rem;
			
		}

	}
	
	&__title{
		color: #ffffff;
		font-family: "Open Sans";
		font-size:5.8rem;
		font-weight: 700;
		font-style: normal;
		letter-spacing: normal;
		line-height: normal;
		text-align: left;
	}
	&__text{
		color: #ffffff;
		font-family: "Open Sans";
		font-size:2.9rem;
		font-weight: 400;
		font-style: normal;
		letter-spacing: normal;
		text-align: left;

	}
	&__btn{
		display: block;
		background-color: #e2a355;
		max-width: 33.4rem;
		width: 100%;

		color: #ffffff;
		font-family: "Open Sans";
		font-size: 2.3rem;
		font-weight: 700;
		font-style: normal;
		letter-spacing: normal;
		text-align: center;
		text-transform: uppercase;

		padding: 2.5rem 6rem;

		border-radius: 4rem;

		&:hover{
			background-color: red;
		}

	}
}
.hiking{
	background: url("../img/hikin/bg_h.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	
	&__decor{
		position: absolute;
		right: 0;
		left: -10%;
		width: 120%;
		&-top{
			top: 0;
		}
		
		&-center{
			width: 38%;
			height: auto;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			
		}
		

		& img {
			width: 110%;

		}
	}
	&__content{
		padding: 35rem 0 21.4rem 0 ;
		margin: 0 auto;
	}
	&__title{
		color: #ffffff;
		font-family: "Open Sans";
		font-size: 5.8rem;
		font-weight: 700;
		font-style: normal;
		letter-spacing: normal;
		line-height: normal;
		text-align: center;
		margin-bottom: 2%;
	}
	&__text{
		color: #dbdbdb;
		font-family: "Open Sans";
		font-size:2.9rem;
		font-weight: 400;
		font-style: normal;
		letter-spacing: normal;
		line-height: normal;
		text-align: center;
		max-width: 70%;
		margin: 0 auto;
	}
}
.world{
	background: url("../img/world/world_bg.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right;
	position: relative;
	
	&:after{
		content: "";
		background: url("../img/world/world_1.svg");
		display: block;
		position: absolute;
		height: 20.3rem;
		bottom: -5rem;
		right: 0;
		left: -1%;
	}
	
	&__content{
		padding: 51.4rem 0 44.4rem 0;
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
	}
	&__main{
		text-shadow: 3px -4px 5px rgba(84, 82, 79, 0.36);
		color: #deb37e;
		font-family: "Open Sans";
		font-size: 8.3rem;
		font-weight: 800;
		font-style: italic;
		letter-spacing: normal;
		line-height: 1;
		text-align: right;
		text-transform: uppercase;
		max-width: 48rem;
		& span{
			color: #54524f;
		}
	}

}
.main{
	position: relative;
	overflow: hidden;
	&::after{
		content: "";
		background: url("../img/world/main_1.svg");
		position: absolute;
		width: 110%;
		top: 45%;
		transform: translateY(-55%);
		right: 0;
		left: -5%;
		height: 31rem;
	}
}

.reviews{
	position: relative;
	padding: 4rem 0;
	&__decor{
		position: absolute;
		bottom: 0;
		right: 0;
		width: 40%;
		& img {
			width: 100%;
			height: auto;
			max-width: 100%;
		}
	}
	&__content{
		display: flex;
		
		justify-content: space-between;
		flex-direction: column;
		gap: 25rem;
	}
	&__about{
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(32rem , 1fr));
		justify-items: center;
	}
	&__item{
		max-width: 33.2rem;
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		flex-direction: column;
		gap: 2.8rem;
	}
	&__main{
		color: #deb37e;
		font-family: "Open Sans";
		font-size: 3.3rem;
		font-weight: 700;
		font-style: normal;
		letter-spacing: normal;
		text-align: left;
	}
	&__sub{
		color: #333d42;
		font-family: "Open Sans";
		font-size: 1.9rem;
		font-weight: 400;
		font-style: normal;
		letter-spacing: normal;
		text-align: left;
	}



	&__slide{
		position: relative;
	}
	&__prev{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;

		padding: 1rem;
		background: yellow;
		font-size: 2rem;
		color: red;
		&:hover{
			color: blue;
			background: red;
		}
	}
	&__next{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 0;

		background: yellow;
		padding: 1rem;
		font-size: 2rem;
		color: red;
		&:hover{
			color: blue;
			background: red;
		}
	}
	&__dots{
		display: block;
		margin: 2rem auto;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 2rem;
	}
	&__dot{
		width: 2rem;
		height: 2rem;
		background-color: red;
		border-radius: 50%;
		&:hover.active{
			background: blue;
		}
	}


	&__none{
		display: none;
	}
	



	&__coment{
		
		width: 58.7%;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 5rem;
	}
	&__title{
		color: #3f3f3f;
		font-family: "Open Sans";
		font-size: 10rem;;
		font-weight: 700;
		font-style: normal;
		letter-spacing: normal;
		line-height: normal;
		text-align: center;
	}
	&__text{
		color: #3f3f3f;
		font-family: "Open Sans";
		font-size: 2.5rem;
		font-weight: 700;
		font-style: normal;
		letter-spacing: normal;
		line-height: normal;
		text-align: center;
	}
	&__name{
		color: #3f3f3f;
		font-family: "Open Sans";
		font-size: 2.1rem;
		font-weight: 700;
		font-style: normal;
		letter-spacing: normal;
		text-align: center;
	}
}
.bottom{
	overflow: hidden;
	position: relative;
	&::before{
		content: "";
		position: absolute;
		background: url("../img/bottom_decor/bottom_1.svg");
		width: 140%;
		top: -14.4rem;
		left: -5%;
		right: 0;
		height: 21rem;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
	&::after{
		content: "";
		position: absolute;
		background: url("../img/bottom_decor/bottom_2.svg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		width: 110%;
		top: 50%;
		transform: translateY(-50%);
		left: -5%;
		right: 0;
		height:18.7rem

	}
}



.here{
	background-color: #deb37e;
	padding: 23rem 0;
	&__content{
		margin: 0 auto;
		display: flex;
		
		justify-content: center;
		flex-direction: column;
		gap: 7.5rem;
		width: 66%;
	}
	&__title{
		color: #ffffff;
		font-family: "Open Sans";
		font-size: 7.5rem;
		font-weight: 700;
		font-style: normal;
		letter-spacing: normal;
		line-height: normal;
		text-align: center;
	}
	&__text{
		color: #54524f;
		font-family: "Open Sans";
		font-size:3rem;
		font-weight: 400;
		font-style: normal;
		letter-spacing: normal;
		line-height: normal;
		text-align: center;
	}
	&__bottom{
		position: relative;
		padding: 0 5rem;
	}
	&__input{
		margin: 0 auto;
		

		padding: 2rem 0 2rem 3.6rem;
		width: 74.1%;
		margin: 0 auto;

		opacity: 0.68;
		color: #54524f;
		font-family: "Open Sans";
		font-size:2.5rem;
		font-weight: 400;
		font-style: normal;
		letter-spacing: normal;
		line-height: normal;
		text-align: left;
		border-radius: 5rem;

		
	}
	&__button{
		position: absolute;
		top: 0;
		bottom: 0;
		right: 12.5%;
		z-index: 2;

		width: 25%;
		background-color: #54524f;

		color: #ffffff;
		font-family: "Open Sans";
		font-size: 2.5rem;
		font-weight: 700;
		font-style: normal;
		letter-spacing: normal;
		line-height: normal;
		text-align: center;
		text-transform: uppercase;

		border-radius: 5rem;

		padding: 2.3rem 0;
		cursor: pointer;

		&:hover{
			background: red;
		}
	}

	
}
.footer{
	background-color: #7f7770;
	padding: 34.1rem 0 24.5rem;
	&__content{
		display: grid;
		grid-template-columns: repeat(auto-fit , minmax(46rem, 1fr));
		justify-items: center;
	}
	&__item{
		max-width: 63rem;
		&-1{
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			flex-direction: column;
			gap: 3.6rem;
			max-width: 46rem;
			width: 46rem;
		}
	}
	&__title{
		color: #ffffff;
		font-family: Montserrat;
		font-size:3.2rem;
		font-style: normal;
		letter-spacing: normal;
		line-height: normal;
		text-align: left;
	}
	&__text{
		color: #ffffff;
		font-family: Montserrat;
		font-size: 2.4rem;
		font-weight: 400;
		font-style: normal;
		letter-spacing: normal;
		line-height: normal;
		text-align: left;
	}
	&__box{
		display: flex;
		justify-content: center;
		align-items: flex-start;
		gap: 4.8rem;
		flex-wrap: wrap;
		
	}
	&__element{
		display: flex;
		gap: 3.7rem;
		flex-direction: column;

	}
	&__nav{
		display: flex;
		gap: 2rem;
		flex-direction: column;
	}


	&__links{
		& a {
			color: #ffffff;
			font-family: Montserrat;
			font-size:2.4rem;
			font-weight: 400;
			font-style: normal;
			letter-spacing: normal;
			line-height: normal;
			text-align: left;
			&:hover{
				border-bottom: 3px solid rgb(255, 255, 255);
			}
		}
	}

	&__icons{
		display: flex;
		flex-direction: row;
		gap:1.3rem;
		& i {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 4.2rem;
			height: 4.2rem;
			border-radius: 50%;
			background: #ffffff;
			font-size: 2.5rem;
			color: #7f7770;

		}

	}
}